.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.headerLeft {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.headerRight {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 20px;

}

#logospotify {
    height: 70%;
    width: 45px;
    margin-left: 20px;
}