.main {
    background-color: green;
    height: 100rem;
    width: 100%;
}



.maintexts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.mainLink:hover {
    text-decoration: underline;
}

